extends be_base 

include ../../mixins/_formFields
include ../../mixins/_formSelectOptions

block content

	main.container.user--grid 
	
		h2.admin__page--heading  Edit User
	
		section.admin__form--box 

			form.admin__form--update.user__form--update(data-id=result._id , data-role=result.role) 
				.admin__form--group
					+formRows('name','text',result.name)
				.admin__form--group
					+formRows('email','text',result.email)
				.admin__form--group
					+formRows('phone','text',result.phone)
				.admin__form--group
					+formRows('role','text',result.role)
				.admin__form--buttons
					button#user__form-submit Update
					
			if result.addresses.length > 0			
				h4.admin-result--heading Addresses
				.divider-flex
					each address,i in result.addresses
						form.admin__form--update.address__form--update(data-id=result._id , data-role=result.role, data-address-id=address._id)
							.admin__form--group.admin__form--group-gap
								.form-group-address
									+formRowsLabels(`label`,'text',address.label)
									+formRowsLabels('number','text',address.number)
									+formRowsLabels('street','text',address.street.toUpperCase())
									+formRowsLabels('city','text',address.city.toUpperCase())
									+formRowsLabels('state','text',address.state.toUpperCase())
									+formRowsLabels('postcode','text',address.postcode)
									+formRowsLabels('default','text',address.isDefault ? 'true' : 'false')
									.admin__form--buttons
										button#user__form-submit Update
						
						
			.admin__form--buttons
				button#deactivateUser(type='button'  data-user-id=`${result._id}`) Delete User
					
			


	